useDynLib("smacof")
import("stats", "graphics", "rgl", "scatterplot3d", "Hmisc", "colorspace", "polynom", "nnls")
export(smacofSym)
export(smacofRect)
export(smacofIndDiff)
export(smacofConstraint)
export(smacofSphere)
export(sim2diss)
export(plot3dstatic)
export(jackknife)
export(permtest)
export(gravity)

S3method(print, smacofB)
S3method(summary, smacofB)
S3method(print, smacofR)
S3method(summary, smacofR)
S3method(print, smacofID)
S3method(summary, smacofID)
S3method(print, smacofSP)
S3method(summary, smacofSP)
S3method(residuals, smacof)
S3method(residuals, smacofID)
S3method(residuals, smacofR)
S3method(plot3d, smacof)
S3method(plot3d, smacofR)
S3method(plot3d, smacofID)
S3method(plot, smacof)
S3method(plot, smacofR)
S3method(plot, smacofID)
S3method(plot3dstatic, smacof)
S3method(plot3dstatic, smacofR)
S3method(plot3dstatic, smacofID)
S3method(print, smacofJK)
S3method(plot, smacofJK)
S3method(jackknife, smacofB)
S3method(permtest, smacof)
S3method(permtest, smacofR)
S3method(print, smacofPerm)
S3method(plot, smacofPerm)






