useDynLib("smacof", .registration = TRUE)
import("stats", "graphics", "Hmisc", "colorspace", "polynom", "nnls", "MASS", "weights", "plotrix")
importFrom("grDevices", "dev.new", "hcl", "chull")
importFrom("ellipse", "ellipse")
importFrom("wordcloud", "textplot")
importFrom("candisc", "vecscale")
export(smacofSym)
export(smacofRect)
export(smacofIndDiff)
export(smacofConstraint)
export(smacofSphere)
export(sim2diss)
export(jackknife)
export(permtest)
export(gravity)
export(indscal)
export(idioscal)
export(mds)
export(unfolding)
export(torgerson)
export(uniscale)
export(inverseMDS)
export(randomstress)
export(Procrustes)
export(driftVectors)
export(symdecomp)
export(fitCircle)
export(biplotmds)
export(dissWeights)
export(bootmds)
export(icExplore)
export(stress0)

S3method(print, smacofB)
S3method(summary, smacofB)
S3method(print, smacofR)
S3method(summary, smacofR)
S3method(print, smacofID)
S3method(summary, smacofID)
S3method(print, smacofSP)
S3method(summary, smacofSP)
S3method(residuals, smacof)
S3method(residuals, smacofID)
S3method(residuals, smacofR)
S3method(plot, smacof)
S3method(plot, smacofR)
S3method(plot, smacofID)
S3method(print, smacofJK)
S3method(plot, smacofJK)
S3method(print, smacofboot)
S3method(plot, smacofboot)
S3method(print, icexplore)
S3method(plot, icexplore)
S3method(jackknife, smacofB)
S3method(bootmds, smacofB)
S3method(permtest, smacof)
S3method(permtest, smacofR)
S3method(biplotmds, smacof)
S3method(biplotmds, smacofID)
S3method(plot, mdsbi)
S3method(print, smacofPerm)
S3method(plot, smacofPerm)
S3method(plot, uniscale)
S3method(print, uniscale)
S3method(plot, procr)
S3method(print, procr)
S3method(plot, driftvec)
S3method(print, driftvec)